body {
    font-family: sans-serif;
    padding-top: 0em;
    padding-bottom: 1em;
    font-size: 2em;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    color: black;
}

input, textarea, button, p, div, section, article, select {
    display: 'block';
    width: 100%;
    font-family: sans-serif;
    font-size: 1em;
    margin: 0.5em;
}

.dark-mode {
    background-color: black;
    color: white;
}