body {
    font-family: sans-serif;
    padding: 0em;
    font-size: 2em;
    width: 100%;
    margin: 0em;
    background-color: white;
    color: black;
}

.main {
    width: 90%;
    margin: 1em auto;
}

input, textarea, button, p, div, section, article, select {
    display: 'block';
    width: 100%;
    font-family: sans-serif;
    font-size: 1em;
    padding: 0.25em;
}

.dark-mode {
    background-color: black;
    color: white;
}